/*General*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: #363338;
    overflow-x: hidden;
}

/*Header*/
header {
    width: 100%;
    height: 8vh;
    display: flex;
    position: fixed;
    padding: 0 3vh;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    background-color: #363338;
    box-shadow: #303030 0px 0px 10px;
}

#header {
    transition: transform 0.75s ease-in-out;
}

.contenedor_logo {
    width: 25%;
    height: fit-content;
    color: #fdfefe;
    display: flex;
    position: relative;
    align-items: center;
}

.figure {
    width: 10%;
    height: fit-content;
}

.figure img {
    width: 100%;
    height: 100%;
    rotate: 20deg;
}

.contMenu {
    display: none;
    position: relative;
}

#menu {
    background: none;
    border: none;
    color: #fdfefe;
    font-size: 24px;
    cursor: pointer;
}

#menuNavegacion {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #363338;
    width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    z-index: 1000;
}

#menuNavegacion li {
    list-style: none;
    width: 100%;
    padding: 0;
}

#menuNavegacion li a {
    display: block;
    padding: 15px 20px;
    color: #fdfefe;
    text-decoration: none;
    transition: all 0.3s ease;
}

#menuNavegacion li a:hover {
    background-color: #2d7890;
    color: #363338;
}

nav {
    width: 40%;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
}

nav ul {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    width: 25%;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: fit-content;
    color: #fdfefe;
    transition: all 0.5s ease;
}

nav ul li:hover a {
    color: #2d7890;
    transform: scale(1.05);
}

/*Button Up*/

.button_up {
    width: 50px;
    height: 50px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    bottom: 5vh;
    right: 5vh;
    z-index: 6;
    background: linear-gradient(135deg, #2d7890 0%, #5cc579 100%);
    border: 2px solid transparent;
    color: #ffffff;
    border-radius: 100%;
    padding: .60%;
    text-align: center;
    transition: all .5s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(45, 120, 144, 0.4);
}


.button_up svg {
    transition: all .5s ease-in-out;
    fill: currentColor; 
}


#button_up {
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.5s ease-in-out;
}

#button_up.show {
    opacity: 1;
    pointer-events: auto;
}

/*Section About Me*/

section {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-image: url(/assets/images-proyects/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 8vh;
}

section::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(73, 72, 72, 0.74);
}

.aboutMe {
    width: 50%;
    height: fit-content;
    color: #fdfefe;
    position: relative;
    padding: 5%;
}

#aboutMe {
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(600px);
    z-index: 1;
}

.aboutMe p {
    text-align: justify;
}

.greet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 1%;
}

.name {
    color: rgba(92, 197, 121, 0.6);
    margin-left: 1%;
}

.button {
    width: 30%;
    height: 7vh;
    border-radius: 25px;
    margin-top: 7%;
    margin-left: 35%;
    color: #fdfefe;
    font-size: normal;
    font-weight: 700;
    border: #fdfefe solid 2px;
    background-color: #fdfefe00;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: #2d7890;
    color: #fdfefe;
    border: #2d7890 solid 2px;
}

.frase {
    width:100%;
    height: fit-content;
    padding: 8%;
    margin-top: 5%;
    margin-left: 12%;
    font-size: 30px;
}

.frase_ {
    color: #a4a3a4;
    font-weight: 700;
}

#typing {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    display: inline;
}

#cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
}

/*Section Projects*/

.projects {
    width: 100%;
    height: fit-content;
    background-image: url(/assets/images/fondo_code2.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #363338;
    padding: 10%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8vh;
    z-index: 1;
}

.projects::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color:#f0f0f09f;
    z-index: 0;
}

#figure {
    bottom: 2%;
    left: 88%;
    transition: all 1s ease-in-out;
    animation: rotate 1.5s linear infinite;
    position: absolute;
}

.projects h1 {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
    z-index: 3;
    position: relative;
    color: #303030;
}

.project {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 3;
    position: relative;
}

.project1 {
    width: 20%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: #a4a3a4 0px 0px 10px;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
    margin-bottom: 5%;
    position: relative;
    text-align: justify;
    transition: all 0.5s ease-in-out;
}

.project1:hover {
    box-shadow: #747474 0 0 10px;
}

.project1:hover img{
    transform: scale(120%);
}

.line {
    width: 100%;
    height: 5px;
    background-color: #363338;
}

.img_proyect {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.img_proyect img {
    width: 100%;
    height: fit-content;
    transition: all 0.5s ease-in-out;
}

.project1 h2 {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 8%;
}

.project1 p {
    padding: 5%;
}

.boton {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
}

.button2 {
    width: 50%;
    height: fit-content;
    border-radius: 25px;
    padding: 5%;
    color: #fdfefe;
    font-size: normal;
    font-weight: 700;
    border: #303030 solid 2px;
    background-color: #303030;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.button2:hover {
    background-color: #2d7890;
    color: #fdfefe;
    transform: scale(1.1);
    border: #2d7890 solid 2px;
}

/*Section Skills*/

.skills {
    width: 100%;
    height: fit-content;
    background-image: url(/assets/images/fondo_code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fdfefe;
    padding: 7%;
    padding-left: 30%;
    position: relative;
    top: 8vh;
}

.skills::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(67, 63, 63, 0.92);
    z-index: 0;
}

.skills h1 {
    width: 60%;
    height: fit-content;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
    z-index: 3;
    position: relative;
}

.skill{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    background-color: #524f53;
    border-radius: 10px;
    padding: 5%;
    position: relative;
    justify-content: space-between;
    transform-style: preserve-3d;
}

.skill button {
    width: 33.33%;
    margin-bottom: 5%;
    background-color: #fdfefe00;
    cursor: pointer;
}

.skill img {
    width: 70px;
    font-size: 70px;
    transition: all 0.5s ease-in-out;
}

.skill img:hover {
    color: #2d7890;
    transform: scale(1.2);
}

.skill img:hover + .view {
    opacity: 1;
}

.icon_svg {
    width: 80px;
    height: auto;
    fill: #fbfbfb;
    position: relative;
    transition: all 0.5s ease-in-out;
    padding: 3%;
}

.icon_svg:hover {
    fill: #2d7890;
    transform: scale(1.2);
}

.icon_svg:hover + .view {
    opacity: 1;
}

.view {
    color: #fdfefe;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#hiddenElement1, #hiddenElement2, #hiddenElement3, #hiddenElement4, #hiddenElement5, 
#hiddenElement6, #hiddenElement7, #hiddenElement8, #hiddenElement9,
#hiddenElement10, #hiddenElement11, #hiddenElement12, #hiddenElement13, #hiddenElement14, 
#hiddenElement15, #hiddenElement16, #hiddenElement17, #hiddenElement18 {
    width: 70%;
    height: 55vh;
    display: none;
    position: absolute;
    top: 7%;
    left: -65%;
    justify-content: center;
    text-align: center;
    background-color: #2592ffd5;
    padding: 10%;
    padding-right: 20%;
    border-radius: 10px;
    transform: translateZ(-20px);
    z-index: -1;
}

#hidden1, #hidden2, #hidden3, #hidden4, #hidden5, #hidden6, #hidden7, #hidden8, #hidden9,
#hidden10, #hidden11, #hidden12, #hidden13, #hidden14, 
#hidden15, #hidden16, #hidden17, #hidden18{
    width: 40px;
    height: 40px;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    color: #fdfefe;
    font-size: large;
    font-weight: 900;
    position: absolute;
    right: 8%;
    top: 5%;
    transition: all 0.5s ease-in-out; 
    cursor: pointer;
}

#hidden1:hover, #hidden2:hover, #hidden3:hover, #hidden4:hover, #hidden5:hover, 
#hidden6:hover, #hidden7:hover, #hidden8:hover, #hidden9:hover,
#hidden10:hover, #hidden11:hover, #hidden12:hover, #hidden13:hover, #hidden14:hover, 
#hidden15:hover, #hidden16:hover, #hidden17:hover, #hidden18:hover {
    transform: scale(1.5);
}

.skill h2 {
    width: 100%;
    height: fit-content;
    text-align: center;
    justify-content: center;
    padding: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.skill h2 img {
    width: 80px;
    font-size: 80px;
    margin-left: 30%;
    margin-bottom: 5%;
    transition: all 0.5s ease-in-out;
}

.skill div h2 img:hover {
    color: #fdfefe;
    transform: scale(1.2);
}

.skill h2 svg {
    width: 80px;
    height: auto;
    fill: #fbfbfb;
    position: relative;
    transition: all 0.5s ease-in-out;
    margin-bottom: 5%;
    margin-left: 38%;
}

.skill h2 svg:hover {
    transform: scale(1.2);
}

.info {
    margin-top: 5%;
}

.skill .info {
    text-align: justify;
}

.run {
    width: 100%;
    position: absolute;
    bottom: 1%;
    left: 0;
    height: fit-content;
}

#run {
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

#dino {
    width: 30px;
    height: auto;
    transition: all 1s ease-in-out;
    animation: animado 1s linear infinite;
}

/*Section Contact*/

.contact {
    width: 100%;
    height: fit-content;
    background-color: #2d7890;
    color: #fdfefe;
    padding: 2%;
    position: relative;
    top: 0;
    margin-top: 8vh;
    display: flex;
}

.contact-cont {
    /* background-color: #303030; */
    width: 100%;
    display: flex;
    align-items: center;
}

.contact h1 {
    width: 50%;
    height: fit-content;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}

.icons{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.icons a {
    width: 25%;
}

.icon {
    width: 50px;
    font-size: 50px;
    color: #fdfefe;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.icon:hover {
    color: #363338;
    transform: scale(1.2);
}

.contact-form {
    width: 50%;
    height: 90%;
    padding: 5%;
    background-color: #f0f0f0;
    border-radius: 15px;
    text-align: center;
    color: #363338;
}

.contact-info {
    /* background-color: #5cc579; */
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact-form h1 {
    width: 100%;
    text-align: center;
    color: #2d7890;
}

.contact-form form {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
}

.contact-form label {
    width: 100%;
    text-align: left;
    display: inline;
}

.contact-form p {
    color: red;
    display: inline;
}

.contact-form input{
    margin-top: 1%;
    padding: 2%;
    box-shadow: #c1c0c1 1px 1px 3px;
    border-radius: 5px;
}

.contact-form textarea {
    margin-top: 1%;
    width: 100%;
    height: 15vh;
    resize: none;
    padding: 2%;
    box-shadow: #c1c0c1 1px 1px 3px;
    border-radius: 5px;
}

.contact-form button {
    background-color: #363338;
    border: #363338 2px solid;
}

footer {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #171616;
    color: #fdfefe;
    position: relative;
}

/*Animations*/

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

@keyframes animado {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/*Responsive Design*/

@media screen and (max-width: 1200px) {
    .skills, .contact {
        padding-left: 10%;
        padding-right: 10%;
    }
    .contenedor_logo {
        width: 35%;
    }
    .project1 {
        width: 45%;
    }
    #hiddenElement1, #hiddenElement2, #hiddenElement3, #hiddenElement4, #hiddenElement5, 
    #hiddenElement6, #hiddenElement7, #hiddenElement8, #hiddenElement9,
    #hiddenElement10, #hiddenElement11, #hiddenElement12, #hiddenElement13, #hiddenElement14, 
    #hiddenElement15, #hiddenElement16, #hiddenElement17, #hiddenElement18 {
        width: 60%;
        left: -50%;
    }
}

@media screen and (max-width: 992px) {
    section {
        height: auto;
        padding-bottom: 50px;
    }
    
    .decoration {
        width: 100%;
        justify-content: center;
    }
    
    .aboutMe {
        width: 80%;
        margin: 0 auto;
    }

    nav ul li a {
        font-size: 14px;
    }
    
    .contact-form {
        margin-left: 0;
        width: 100%;
    }
    
    .icons {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 20px;
        height: 80px;
    }
    
    nav {
        display: none;
    }
    
    .contMenu {
        display: block;
        width: auto;
    }

    .contenedor_logo {
        width: 70%;
    }

    section {
        flex-direction: column-reverse;
        top: 80px;
        height: auto;
    }

    .aboutMe {
        width: 100%;
        padding: 5%;
        text-align: center;
    }
    
    .aboutMe p {
        text-align: left;
    }

    .button {
        margin: 20px auto;
        width: 50%;
    }

    .decoration {
        height: 40vh;
        margin-top: 20px;
    }
    
    #i, #down {
        width: 50%;
        margin: 0 auto;
        left: 0; 
        right: 0;
    }

    .projects {
        padding: 5%;
    }
    
    .project {
        flex-direction: column;
    }
    
    .project1 {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    .skill {
        width: 100%;
        justify-content: space-around;
    }

    .skill button {
        width: 30%;
    }

    [id^="hiddenElement"] {
        width: 90% !important;
        left: 5% !important;
        height: auto;
        min-height: 300px;
        padding: 20px;
        border: 1px solid #2d7890;
        background-color: #363338;
        z-index: 100;
    }

    .contact {
        padding: 5%;
        margin-top: 50px;
    }
    
    .contact h1 {
        width: 100%;
        text-align: center;
    }
    
    .contact-form {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .contenedor_logo h1 {
        font-size: 18px;
    }
    
    .frase {
        font-size: 16px;
        margin-left: 0;
        justify-content: left;
        padding: 10px;
        height: 15vh;
    }

    #typing {
        width: 100%;
        text-align: right;
    }

    section {
        height: 95vh;
    }

    section::before {
        top: 0;
    }

    .decoration {
        height: auto;
    }

    .skills {
        top: 9vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .skills h1 {
        font-size: 36px;
        width: 100%;
    }

    .contact {
        top: 3vh;
    }

    .projects {
        top: 9vh;
    }

    .skill button {
        width: 45%;
        margin-bottom: 15px;
    }
    
    .skill img, .skill ion-icon, .icon_svg {
        width: 50px;
        font-size: 50px;
    }

    [id^="hiddenElement"] {
        width: 96% !important;
        left: 2% !important;
        top: 100px;
        padding: 15px;
        transform: translateZ(10px) !important;
    }
    
    [id^="hiddenElement"] h2 {
        font-size: 20px;
    }
    
    [id^="hiddenElement"] p {
        font-size: 14px;
    }

    .contact {
        flex-direction: column;
        margin-top: 6vh;
    }

    .contact-cont {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-form input, .contact-form textarea {
        padding: 15px;
        font-size: 16px;
    }
    
    .contact-form h1 {
        font-size: 24px;
    }

    .button_up {
        bottom: 40px;
        right: 10px;
        width: 45px;
        height: 45px;
        opacity: 0.8;
        box-sizing: border-box;
        padding-left: 6px;
    }

    #figure {
        bottom: 1vh;
    }
    
    footer p {
        font-size: 12px;
    }

    footer {
        height: 8vh;
    }

    #aboutMe {
        transform: translateX(0);
    }

    
}

@media screen and (max-width: 320px) {
    .skill button {
        width: 100%;
    }
    
    .contenedor_logo h1 {
        display: none;
    }
    
    .figure {
        width: 40px;
    }

    .contact {
        flex-direction: column;
        margin-top: 6vh;
    }

    .contact-cont {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }

}
